.logo{
	margin-left: 40%;
	margin-top:17%;
}

i{
  margin-right: 30px;
}

.buttons{
	margin-left: 28%;
	margin-top: 50px;


}

.topbar{
  background: white;
  float:right;
  color: grey
  display:block;
  width: 100%;
}



.fab{
  color:grey;

}

.fas{
   color:grey;
}

#social{
  margin-right: 5px;
  float: right;
}



