.logo{
	margin-left: 40%;
	margin-top:10%;
}

i{
  margin-right: 60px;
}

.buttons{
	margin-left: 25%;
	margin-top: 50px;

}




.fab{
  color:grey;
}

.fas{
   color:grey;
}

#social{
  margin-right: 5px;
  float: right;
}



